<div *ngIf="authService.firebaseUser$ | async as firebaseUser" class="comment-form-container">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Új komment írása</mat-label>
            <textarea matInput formControlName="content" rows="3" placeholder="Írd ide a kommentet..."></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="commentForm.invalid || isSubmitting">
            Küldés
        </button>
    </form>
</div>
<div *ngIf="!(authService.currentUser$ | async)">
    <p>Komment írásához jelentkezz be.</p>
</div>