<div class="history-container">
    <h2>Megtekintési Előzmények</h2>

    <div *ngIf="errorMessage && !(authService.currentUser$ | async)" class="error">
        {{errorMessage}}
    </div>

    <div *ngIf="authService.firebaseUser$ | async as firebaseUser; else notLoggedInOrLoading">
        <div *ngIf="viewHistory$ | async as historyEntries; else loadingHistory">
            <div *ngIf="historyEntries.length === 0 && !errorMessage" class="no-history">
                Nincsenek megtekintési előzmények.
            </div>
            <div *ngFor="let entry of historyEntries" class="history-item">
                <div class="video-details">
                    <h3>
                        Videó:
                        {{ (entry.videoId | videoIdToVideoTitle | async) || 'Cím betöltése...' }}
                    </h3>
                </div>
                <div class="view-time">
                    Megtekintve:
                    {{ entry.timestamp | date:'yyyy. MMMM dd., HH:mm:ss' }}
                </div>
            </div>
        </div>
        <ng-template #loadingHistory>
            <div *ngIf="!errorMessage" class="no-history">Előzmények betöltése...</div>
        </ng-template>
    </div>

    <ng-template #notLoggedInOrLoading>
        <div *ngIf="!errorMessage" class="no-history">Betöltés...</div>
    </ng-template>
</div>