#router-container {
    margin: 4px;
}

html, body, .mat-sidenav-container {
    height: 100%;
    width: 100%;
    background-color: rgb(15, 17, 19);
}

.mat-sidenav {
    width: fit-content;
    background-color: rgb(15, 17, 19);
}

.mat-sidenav-content {
    background-color: rgb(41, 46, 51);
    color: white;
}