<mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav id="mat-sidenav" #sidenav mode="push">
        <ng-container *ngFor="let item of routes">
            <app-menu-item [routerTarget]="item.path!">
                {{ item.data!['niceTitle'] }}
            </app-menu-item>
        </ng-container>
    </mat-sidenav>
    <mat-sidenav-content id="mat-sidenav-content">
        <app-menu-bar [sidenav]="sidenav"></app-menu-bar>
        <div id="router-container">
            <router-outlet />
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>